<section class="content-section" id="thesis">
  <h2>// 02_ANALYSIS</h2>
  <ul class="project-list">
    <li>
      <div><span class="project-title">Graph-Based Wash Trading Detection on Solana NFTs</span><br><span class="project-tags">[Usage of NFT Wash Trading Analyser]</span></div>
      <div class="project-links">
        <a href="https://www.cs.cit.tum.de/fileadmin/w00cfj/sebis/thesis/221206_Jung_Thesis.pdf" class="project-link" target="_blank" rel="noopener noreferrer">[ PAPER ]</a>
      </div>
    </li>
  </ul>
</section>
