<section class="content-section" id="analysis">
  <h2>// 02_ANALYSIS</h2>
  <ul class="project-list">
    <li>
      <div><span class="project-title">Comparative Economic Analysis: China vs. West</span><br><span class="project-tags">[Python, Hypothesis Testing, OLS Regression, IMF Data]</span></div>
      <div class="project-links">
        <a href="https://github.com/basti394/StatistikProjekt" class="project-link" target="_blank" rel="noopener noreferrer">[ GITHUB ]</a>
      </div>
    </li>
    <li>
      <div><span class="project-title">Graph-Based Wash Trading Detection on Solana NFTs</span><br><span class="project-tags">[Usage of NFT Wash Trading Analyser]</span></div>
      <div class="project-links">
        <a href="https://www.cs.cit.tum.de/fileadmin/w00cfj/sebis/thesis/221206_Jung_Thesis.pdf" class="project-link" target="_blank" rel="noopener noreferrer">[ PAPER ]</a>
      </div>
    </li>
    <li>
      <div><span class="project-title">S&P 500 RSI Strategy Edge Analysis</span><br><span class="project-tags">[Python, OpenBB, Mean-Reversion]</span></div>
      <div class="project-links">
        <a href="https://github.com/basti394/" class="project-link" target="_blank" rel="noopener noreferrer">[ NOTEBOOK ]</a>
      </div>
    </li>
    <li>
      <div><span class="project-title">VaR Backtesting & Options P&L Models</span><br><span class="project-tags">[Python, Monte Carlo, Risk Management, Derivatives]</span></div>
      <div class="project-links">
        <a href="https://github.com/basti394/" class="project-link" target="_blank" rel="noopener noreferrer">[ GITHUB ]</a>
      </div>
    </li>

  </ul>
</section>
