<section class="content-section" id="portfolio">
  <h2>// 03_PORTFOLIO</h2>
  <div class="metrics-grid">
    <div class="metric-item">
      <div class="metric-label">AUM</div>
      <div class="metric-value"> >70k € </div>
    </div>
    <div class="metric-item">
      <div class="metric-label">YTD RETURN (2025)</div>
      <div class="metric-value">+6,61%</div>
    </div>
    <div class="metric-item">
      <div class="metric-label">ANN. SHARPE RATIO</div>
      <div class="metric-value">1.1</div>
    </div>
    <div class="metric-item">
      <div class="metric-label">VaR(99%, 1D, FAT-TAILED MC)</div>
      <div class="metric-value">-8.5%</div>
    </div>
  </div>
  <p>
    This section provides insight into my <b>systematic investment strategy</b> and current allocation.
    <br>The investment philosophy is fundamentally driven by <b>Quantitative Analysis</b> and informed by a deep understanding of <b>Modern Systems Architecture</b> (cf. Projects).
    <br><br>
    The core focus lies on <b>risk-adjusted returns</b> through disciplined execution:
    <br><br>
    <span style="display: block; margin-left: 20px;">
      <span style="color: #E0E0E0;">&gt;</span> <b>Strategy:</b> The primary tactic involves <b>Swing Trading</b>, often utilizing <b>Options</b> to express directional views and manage exposure efficiently. This approach is strictly based on <b>Quantitative Analysis</b>, leveraging computational models to identify short-to-medium-term market inefficiencies.
      <br>
      <br>
      <span style="color: #E0E0E0;">&gt;</span> <b>Core Portfolio:</b> A diversified, long-term <b>Value Approach</b> forms the foundational base, focused on global equities and key technology themes. The portfolio also includes <b>strategic overweights</b> in specific sectors—as indicated by the current composition—to actively seek to <b>outperform the broader market benchmarks.</b>    </span>
    <br><br>
  </p>
  <div id="portfolio-chart-container"></div>
</section>

<script src="js/portfolio-chart.js"></script>
