<section class="content-section" id="projects">
  <h2>// 01_PROJECTS</h2>
  <ul class="project-list">
    <li>
      <div><span class="project-title">NFT Wash Trading Analyser</span><br><span class="project-tags">[TypeScript, Next.js, Neo4J]</span></div>
      <div class="project-links">
        <a href="https://nft.xyz.pizza/" class="project-link" target="_blank" rel="noopener noreferrer">[ WEBSITE ]</a>
        <a href="https://github.com/basti394/nft-research" class="project-link" target="_blank" rel="noopener noreferrer">[ GITHUB ]</a>
      </div>
    </li>
    <li>
      <div><span class="project-title">KDocsAI - AI based Generator of Kotlin Documentation (KDoc)</span><br><span class="project-tags">[Kotlin, Spring Boot, PostgreSQL, TypeScript, Next.js]</span></div>
      <div class="project-links">
        <a href="https://docsai.xyz.pizza/" class="project-link" target="_blank" rel="noopener noreferrer">[ WEBSITE ]</a>
        <!--<a href="https://github.com/basti394/docsai" class="project-link" target="_blank">[ GITHUB ]</a>-->
      </div>
    </li>
  </ul>
</section>
